<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <title>IOTA Seed Generator</title>

    <script>
      const iotaJs = require('../js/iota.js');
      const copyToClip = require('copy-to-clipboard');

      window.jQuery = require('jquery');

      function getSeed() {
        event.preventDefault();

        var newSeed = iotaJs.createSeed();

        jQuery('input[name="iota-seed"]').val( newSeed );
        
        copyToClip(newSeed);

        jQuery(".msg-panel").css('opacity', '1');
        jQuery(".msg-panel").html('New seed copied to clipboard').fadeTo( 1800, 0 );
      }  
    </script>    
  </head>
  <body>
    <div class="center-panel">
      <h1>Iota Seed Generator</h1>
    </div>

    <div class="body-panel">
      <div class="center-panel">
        <div class="msg-panel"></div>
      </div>

      New seed: <br/>

      <form id="seed-generator" action="">
        <div class="center-panel">
          <input type="text" name="iota-seed" class="iota-seed" placeholder="Generated IOTA Seed"/>        
          
          <br />  

          <input type="submit" value="Generate Seed" onClick="getSeed()"/>

        </div>        
      </form>
    </div>

    <div class="center-panel">
      <img src="../img/iota_logo.png"/>
    </div>
  </body>
</html>
